#idlogo{
        width: 100%;
        height: auto;
}


#idh1{
    text-align: center;
    font-size: 80px;
}

img{
    height: 350px;
    width: 650px;
}

#id1{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
