#idh1{
    text-align: center;
    font-size: 80px;
}

#id1{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#taula{
    width: 100%;
    height: auto;
}

.berriak{
    width: 570px;
    margin: 20px;
}